body,
h1,
h2,
h3,
h4,
h5,
h6,
html {
  margin: 0;
}
a {
  text-decoration: none !important;
  cursor: pointer;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
body {
  background-color: #f8f8f8;
}
body,
html,
ul {
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100% !important;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999;
}
#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url("../../assets/images/loader.gif");
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}
@font-face {
  font-family: HelveticaNeueLight;
  src: url("../../assets/font/HelveticaNeueLight.ttf");
}
@font-face {
  font-family: HelveticaNeueMedium;
  src: url("../../assets/font/HelveticaNeueMedium.ttf");
}

@font-face {
  font-family: HelveticaNeueBold;
  src: url("../../assets/font/HelveticaNeueBold.ttf");
}
/* @font-face {
  font-family: HelveticaNeueUltraLight;
  src: url("../../assets/font/HelveticaNeueUltraLight.ttf");
}
@font-face {
  font-family: HelveticaNeue-Thin;
  src: url("../../assets/font/HelveticaNeue-Thin.otf");
} */
.bjectiveImage img {
  width: 100%;
}
.bjectiveImageCredit img {
  height: 350px;
  object-fit: contain;
}
.physicalAddress h6 {
  text-transform: uppercase;
  padding-bottom: 5px;
  font-size: 14px;
}
.overlay-addressContent-OneContent h6 {
  color: #fff;
  font-size: 14px;
  padding-bottom: 8px;
  text-transform: uppercase;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  background-color: #000;
  background-color: rgba(38, 38, 38, 1);
  overflow: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 10%;
  left: 100px;
  width: 100%;
  height: calc(100% - 10%);
}
.overlay a {
  padding: 0;
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  display: table;
  transition: 0.3s;
  line-height: 44px;
  font-family: HelveticaNeueBold;
}
.overlay a:hover,
.overlay a:focus {
  color: #fff;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 120px;
  font-size: 60px;
}
.overlay-addressContent {
  width: calc(100% - 100px);
  padding: 30px 0;
}
.overlay-addressContent-One .overlay-addressContent-OneContent:first-child {
  padding-left: 0;
}
.overlay-addressContent p {
  font-size: 14px;
  line-height: 18px;
  font-family: HelveticaNeueLight;
  color: #fff;
  font-weight: 300;
}
.overlay-addressContent a {
  font-size: 14px;
  line-height: 18px;
  font-family: HelveticaNeueLight;
  color: #fff;
  font-weight: 300;
}
.copyRights {
  padding-top: 40px;
  bottom: 30px;
  font-size: 14px;
  line-height: 18px;
  font-family: HelveticaNeueLight;
  color: #fff;
  font-weight: 300;
}
.copyRights p {
  color: #fff;
}
header {
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 99;
  transition: width 2s ease;
  top: 0;
}
.HeadersBG {
  background-color: #fff;
}
.HeadersBG img {
  width: 40px;
}
.headerSection .hamBurger {
  text-align: right;
}
.homeHeader {
  position: relative;
}
.homeHeaderContent {
  position: absolute;
  top: 40%;
  width: 100%;
  z-index: 9;
}
.homeHeaderContentInner {
  max-width: 430px;
}
.homeHeaderContentHome {
  max-width: 520px !important;
}
.homeHeaderContentInner h1 {
  position: relative;
  font-size: 36px;
  color: #fff;
  font-family: HelveticaNeueBold;
  line-height: 42px;
  padding-bottom: 10px;
  display: inline-block;
  margin-bottom: 20px;
}
.homeHeaderContentInner h1:after {
  content: "";
  bottom: -3px;
  left: 0;
  width: 100px;
  height: 2px;
  position: absolute;
  background-color: #ffd800;
}
.homeHeaderContentHome h1::after {
  width: 160px;
}
.homeHeaderContentInner p {
  color: #fff;
  font-family: HelveticaNeueMedium;
}
.homeHeaderContentInnerServices p {
  position: relative;
}
.homeHeaderContentInnerServices p::after {
  content: "";
  bottom: -8px;
  left: 0;
  width: 50px;
  height: 2px;
  position: absolute;
  background-color: #ffd800;
}
.homeHeaderContentInnerServices h1::after {
  display: none;
}
a.active:before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 5px;
}
a.active {
  position: relative;
}
.homeHeader {
  width: 100%;
  height: 100%;
}
.homeHeader video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.homeHeader:after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.whatWeDo {
  padding-top: 80px;
}
.sectionTitle {
  position: relative;
}
.sectionTitle h1 {
  font-family: HelveticaNeueBold;
  font-size: 60px;
  font-weight: 600;
}
.sectionTitle:after {
  content: "";
  width: 44px;
  height: 4px;
  position: absolute;
  left: -70px;
  top: 37px;
  background-color: #ffd800;
}
.whatWeDoTab {
  display: inline-block;
  width: 100%;
  padding-top: 80px;
}
.whatWeDoTab .tab {
  float: left;
  max-width: 300px;
}
.whatWeDoTab .tab button {
  font-family: HelveticaNeueMedium;
  display: block;
  background-color: inherit;
  color: #000;
  padding: 20px 40px;
  width: 100%;
  border: solid 1px #979797;
  outline: 0;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 30px;
  border-radius: 10px;
}
.whatWeDoTab .tab button:hover {
  background-color: rgba(255, 216, 0, 1);
  border: solid 1px rgba(255, 216, 0, 1);
}
.whatWeDoTab .tab button.active {
  background-color: rgba(255, 216, 0, 1);
  box-shadow: 0 5px 21px -3px rgba(255, 216, 0, 0.5);
  border: solid 1px rgba(255, 216, 0, 1);
}
.whatWeDoTab .tabcontent {
  float: left;
  padding: 0 110px;
  max-width: calc(100% - 300px);
  border-left: 0;
}
.tabContentInner p {
  color: #555;
  font-size: 20px;
  line-height: 32px;
  font-family: HelveticaNeueLight;
}
.tabContentInner ul {
  display: inline-block;
  width: 100%;
  padding-left: 30px;
  padding-top: 20px;
}
.tabContentInner ul li {
  float: left;
  width: 50%;
  padding-bottom: 18px;
  font-family: HelveticaNeueMedium;
  padding-left: 15px;
}
.ourWorks {
  padding: 80px 0;
}
.ourWorkList .mobileShopping {
  background-color: #ffd800;
}
.mobileShoppingRow {
  padding: 60px 0;
  align-items: center;
}
.ourWorkList .mobileShopping .mobileShoppingImage img {
  width: 100%;
  position: relative;
  left: -110px;
}
.ourWorkList {
  padding: 80px 0;
}
.mobileShoppingContent h1 {
  font-size: 50px;
  line-height: 50px;
  color: #000;
  font-family: HelveticaNeueLight;
}
.ourWorkListWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.digitalMusicApp .digitalMusicAppImg {
  background-color: #eaeaea;
}
.digitalMusicAppImg {
  height: 400px;
}
.ourWorkListWrapRow .col-md-6:first-child {
  padding-right: 0;
}
.workWrapListWrapPadding h5 {
  padding-left: 0 !important;
}
.workWrapListWrapPadding h4 {
  padding-left: 0 !important;
}
.ourWorkListWrapRow .col-md-6:last-child {
  padding-left: 0;
}
.digitalAppTitle h1 {
  color: #404040;
  font-size: 30px;
  line-height: 50px;
  font-family: HelveticaNeueMedium;
}
.exploreMore {
  text-align: center;
}
.exploreMoreBlack a {
  border-color: #231f20 !important;
}
input#sendmessage {
  display: inline-block;
  padding: 10px 40px;
  border: 2px solid #ffd200;
  border-radius: 24px;
  overflow: hidden;
  font-family: HelveticaNeueMedium;
}
input#sendmessage:hover {
  background-color: #ffd200;
}
.exploreMoreBlack .exploreMoreanchore a::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 24px;
  background-color: #ffd200;
  transform-origin: left;
  transition: width 0.25s ease;
  z-index: -1;
}
.exploreMoreBlack .exploreMoreanchore a:hover::after {
  width: 100%;
}
.exploreMoreanchore a {
  position: relative;
  overflow: hidden;
}
.exploreMoreanchore a {
  color: #231f20;
  display: inline-block;
  padding: 13px 45px;
  border: 1px solid #ffd200;
  border-radius: 24px;
  padding-left: 24px;
  transition: all ease 0.8s;
  overflow: hidden;
}
.exploreMoreanchore a::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 24px;
  background-color: #ffd200;
  transform-origin: left;
  transition: width 0.25s ease;
  z-index: -1;
}
.exploreMoreanchore a:hover::after {
  width: 100%;
}
.exploreMoreanchore a:before {
  content: "";
  width: 45px;
  height: 20px;
  background-image: url(../../assets/images/arrow-right-line.svg);
  position: absolute;
  right: -3px;
  background-repeat: no-repeat;
  top: 13px;
}
.ourWorkGifEcommerce img {
  transform: rotate(20deg);
  width: 100%;
}
.ourWorkHr img {
  object-fit: contain;
  width: 100%;
}
.serviceDescFlex {
  display: flex;
  align-items: center;
}
.versionAppDesign {
  padding: 80px 0;
  background-color: #eee;
  background-image: url(../../assets/images/versionAppDesign.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.versionAppDesignContent h1 {
  color: #000;
  font-size: 72px;
  font-family: HelveticaNeueLight;
  line-height: 71px;
}
.versionAppDesignContent p {
  padding: 30px 0;
  font-size: 20px;
  color: #000;
  font-family: HelveticaNeueLight;
}
.ourClientsHeader {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.ourClientsWrap {
  padding: 60px 0;
}
.ourClientsDescription {
  padding-top: 20px;
}
.ourClientsWrap .sectionTitle:after {
  left: 15%;
}
.ourClientList img {
  width: 100%;
}
.ourClientListView {
  padding: 50px 0;
}
.success {
  margin-top: 60px;
  color: #000 !important;
}
.ourClientListView .col-md-2 {
  display: flex;
  align-items: center;
}
.ourClientListView img {
  width: 90%;
  object-fit: scale-down;
}
.ourClientListViewunique {
  padding: 20px 0;
}
.whoWeAreBannerContent {
  display: flex;
  background-image: url(../../assets/images/whoWeAre/whoWeAreBanner.png);
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: right;
  height: 100%;
  padding-top: 60px;
}
.whoWeAreBanner {
  height: 90vh;
  padding-top: 120px;
}
.whoWeAreBannerTitle h1 {
  font-size: 75px;
  font-family: HelveticaNeueBold;
}
.whoWeAreContent {
  padding: 60px 0;
}
.whoWeAreContent p {
  font-size: 24px;
  color: #505050;
}
.whoWeAreStataticsList h1 {
  color: #231f20;
  font-size: 65px;
  font-family: HelveticaNeueBold;
}
.whoWeAreStataticsList p {
  color: #231f20;
  font-size: 22px;
}
.whoWeAreStatatics {
  display: flex;
  padding-top: 80px;
  width: 60%;
  margin: 0 auto;
}
.whoWeAreContentPara {
  width: 60%;
  margin: 0 auto;
}
.whoWeAreStatatics .whoWeAreStataticsList:last-child {
  border-right: 0;
}
.whoWeAreStataticsList {
  margin: 0 30;
  width: 250px;
  border-right: 1px solid #979797;
}
.whoWeAreGallery {
  padding-top: 60px;
}
.whoWeAreGalleryContent {
  width: 60%;
  margin: 0 auto;
}
.whoWeAreGalleryContent h3 {
  color: #000;
  font-size: 43px;
  font-family: HelveticaNeueLight;
  line-height: 53px;
  text-align: center;
}
.tabContentInnerBlock li {
  float: none !important;
}
.tabContentInnerBlockStartup li {
  float: none !important;
  width: 100% !important;
}
.whoWeAreGalleryImage {
  white-space: nowrap;
  overflow-x: scroll;
  cursor: grabbing;
  padding-bottom: 30px;
  width: 100%;
  justify-content: space-between;
}
.whoWeAreGalleryImage img {
  width: 380px;
  height: 420px;
  margin: 0 30px;
  object-fit: contain;
}
.whoWeAreGalleryImage {
  margin-top: 60px;
}
.whoWeAreGalleryImage::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}
.whoWeAreGalleryImage::-webkit-scrollbar-track {
  background: #cfcfcf;
}
.whoWeAreGalleryImage::-webkit-scrollbar-thumb {
  background: #ffd800;
}
.whoWeAreGalleryImage::-webkit-scrollbar-thumb:hover {
  background: #ffd800;
}
.homeHeaderServices img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.servicesList {
  padding: 80px 0;
}
.servicesListImage img {
  width: 100%;
}
.servicesListDesc h3 {
  font-size: 30px;
  line-height: 54px;
  font-family: HelveticaNeueLight;
  color: #000;
}
.exploreMoreServices {
  text-align: left;
}
.startupForm {
  background-color: #fff;
  padding: 60px 0;
}
.startupFooter {
  background: #f8f8f8f8;
}
.startupFormWrap {
  width: 70%;
  margin: 0 auto;
}
.startupFormWrapHeader:after {
  content: "";
  bottom: -3px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  height: 3px;
  position: absolute;
  background-color: #ffd800;
}
.startupFormWrapHeader {
  position: relative;
  font-size: 35px;
  color: #231f20;
  font-weight: bold;
  padding-bottom: 15px;
  display: inline-block;
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
}
.startupFormWrapDesc {
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  color: #555;
  margin-bottom: 60px;
}
.inputStartupField {
  padding-bottom: 40px;
}
.inputStartupField input {
  border: 0;
  border-bottom: 0.3px solid #979797;
  padding-bottom: 12px;
  background-color: transparent;
  width: 100%;
  outline: 0;
  margin-bottom: 10px;
}
.checkbox-group-final {
  padding-bottom: 60px;
}
.checkbox-group-final .group-Title {
  margin-bottom: 20px;
}
.checkbox-group-final label {
  margin-top: 25px;
  margin-bottom: 10px;
}
.checkbox-group-final label input {
  visibility: hidden;
  width: 0;
  display: none;
}
.checkbox-group-final label span {
  color: #231f20;
  font-size: 14px;
  font-family: HelveticaNeueMedium;
  border: 1px solid #d5d5d5;
  border-radius: 24px;
  padding: 10px 24px;
  cursor: pointer;
  margin-right: 10px;
  transition: 0.5s;
}
.checkbox-group-final label span:hover {
  background-color: #ffd200;
  transition: 0.5s;
  border-color: #ffd200;
}
.checkbox-group-final :checked + span {
  background-color: #ffd200;
  transition: 0.5s;
  border-color: #ffd200;
}
.startupFormWrap .exploreMore {
  text-align: center;
}
.submitButtonWrap {
  text-align: left;
}
.thankYou h1 {
  font-family: HelveticaNeueBold;
  padding-bottom: 8px;
}
.thankYou h5 {
  font-family: HelveticaNeueMedium;
}
h5.lastText {
  padding-bottom: 40px;
}
.thankYouContainer img {
  width: 80px;
  height: 80px;
}
.thankYou {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.thankYouContainer {
  text-align: center;
}
.thankYouContainer img {
  margin-bottom: 10px;
}
a.thankYouRedirect {
  font-size: 26px;
  font-family: HelveticaNeueLight;
  color: #000;
  border-bottom: 1px solid #ffd800;
  margin-top: 40px;
}
.workWrap {
  padding: 80px 0;
}
.workWrapListWrap {
  padding-bottom: 50px;
}
.workWrapListWrapImage img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  padding-bottom: 20px;
}
.workWrapListWrap h5 {
  padding-left: 15px;
  font-size: 18px;
  color: #404040;
  font-family: HelveticaNeueMedium;
}
.workWrapListWrap h4 {
  padding-left: 15px;
  font-size: 24px;
  line-height: 33px;
  color: #404040;
  font-family: HelveticaNeueBold;
}
.objective {
  padding: 80px 0;
}
.objectiveDesc h3 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 54px;
  color: #000;
  font-family: HelveticaNeueMedium;
}
.objectiveDesc p {
  color: #555;
  line-height: 35px;
  font-size: 18px;
  padding-bottom: 30px;
}
.goalHighlightWrap {
  padding: 70px 0;
}
.goalHighlightWrap h3 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 54px;
  color: #000;
  font-family: HelveticaNeueMedium;
}
.goalHighlightWrap li {
  margin-left: 30px;
  color: #555;
  font-size: 18px;
  line-height: 35px;
  font-family: HelveticaNeueMedium;
}
.serviceDesc p {
  color: #555;
  line-height: 35px;
  font-size: 18px;
  font-family: HelveticaNeueMedium;
}
.contactUsWrap {
  padding-top: 100px;
  padding-bottom: 50px;
}
.contactUsWrapForm {
  padding-top: 50px;
}
.contactUsWrapForm h3 {
  position: relative;
  color: #231f20;
  font-size: 36px;
  font-family: HelveticaNeueBold;
  line-height: 35px;
  padding-bottom: 35px;
}
.contactUsWrapForm h3::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #ffd800;
}
.contactUsWrapForm h5 {
  color: #555;
  font-size: 18px;
  line-height: 33px;
  font-family: HelveticaNeueMedium;
  padding-top: 10px;
}
h4.formTitle {
  color: #231f20;
  opacity: 0.5;
  font-size: 18px;
  font-family: HelveticaNeueMedium;
}
.group-Title {
  display: flex;
  align-items: center;
}
.contactUsWrapForm p {
  font-size: 20px;
  color: #555;
  font-family: HelveticaNeueMedium;
}
.checkbox-group {
  padding: 30px 0;
}
.checkbox-group label input {
  visibility: hidden;
  width: 0;
}
.checkbox-group label span {
  color: #231f20;
  font-size: 14px;
  font-family: HelveticaNeueMedium;
  border: 1px solid #d5d5d5;
  border-radius: 24px;
  padding: 10px 16px;
  cursor: pointer;
  margin-right: 10px;
  transition: 0.5s;
}
.checkbox-group label span:hover {
  background-color: #ffd200;
  transition: 0.5s;
  border-color: #ffd200;
}
.checkbox-group :checked + span {
  background-color: #ffd200;
  transition: 0.5s;
  border-color: #ffd200;
}
.checkbox-group label {
  margin-top: 25px;
  margin-bottom: 10px;
}
.radiobutton-group input {
  visibility: hidden;
  display: none;
}
.radiobutton-group label {
  color: #231f20;
  font-size: 14px;
  font-family: HelveticaNeueMedium;
  border: 1px solid #d5d5d5;
  border-radius: 24px;
  padding: 8px 24px;
  cursor: pointer;
  margin-top: 25px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: 0.5s;
}
.radiobutton-group label:hover {
  background-color: #ffd200;
  transition: 0.5s;
  border-color: #ffd200;
}
.radiobutton-group input[type="radio"]:checked + label {
  background-color: #ffd200;
  transition: 0.5s;
  border-color: #ffd200;
}
.inputField input {
  border: 0;
  border-bottom: 0.3px solid #979797;
  padding-bottom: 12px;
  background-color: transparent;
  width: 100%;
  outline: 0;
  margin-bottom: 10px;
}
.fileUploadIcon input {
  visibility: hidden;
}
.inputFieldFullWidth {
  width: 100%;
  margin: 20px 0;
}
.fileUploadIcon {
  position: absolute;
  right: 0;
  width: 40px;
  top: 0;
}
.fileUpload {
  position: relative;
}
.radiobutton-group {
  padding-bottom: 40px;
}
.inputField {
  padding-bottom: 10px;
}
.exploreMoreanchore button {
  background-color: transparent;
  border: 0;
  outline: 0;
}
.exploreMoreContact .exploreMoreanchore {
  text-align: left;
}
.exploreMoreContact input {
  background-color: transparent;
  border: 0;
  outline: 0;
}
.homeHeaderContact img {
  object-fit: none;
  object-position: right;
}
.contactUsWrapFormDetails {
  padding-top: 50px;
  background-color: #ffd800;
  padding: 36px;
}
.contactUsWrapFormDetails .socialMedia ul li {
  list-style: none;
  display: inline-block;
}
.contactUsWrapFormDetails h3 {
  padding-bottom: 20px;
  font-size: 24px;
}
.contactUsWrapFormDetails h4 {
  font-size: 18px;
  padding-bottom: 10px;
}
.contactUsWrapFormDetails .virtualAddress a {
  color: black;
  padding-bottom: 10px;
}
.contactUsWrapForm {
  width: 80%;
}
.contactUsWrapFormDetails .socialMedia {
  padding-top: 25px;
  text-align: left;
}
.contactUsWrapFormDetails .socialMedia ul li a {
  margin-right: 8px;
}
.fileUploadIcon label {
  cursor: pointer;
}
span.info {
  color: red;
  margin: 10px;
}
span#fileName {
  margin-bottom: 20px;
  display: block;
}
section.currentOpenning {
  padding: 50px 0;
}
.currentOpenningWrap h2 {
  font-family: HelveticaNeueMedium;
}
span.width {
  height: 3px;
  width: 0;
  position: absolute;
  background-color: #ffd800;
  bottom: 0;
  left: 0;
  transition: width 0.5s;
}
span.line {
  width: 65px;
  height: 2px;
  background-color: #c6d4d8;
  position: absolute;
}
.currentOpenningList {
  width: 50%;
  background-color: #efefef;
  position: relative;
  cursor: pointer;
  margin-right: 20px;
  padding: 20px;
}
.currentOpenninglistWrap {
  display: flex;
  padding: 20px 0;
}
.currentOpenningList h5 {
  font-family: HelveticaNeueBold;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  padding-bottom: 20px;
  color: #000;
}
.apply {
  padding-top: 25px;
}
.apply h4 {
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
}
.currentOpenningList:hover span.width {
  width: 100%;
}
footer {
  background-color: #eee;
  padding: 50px 0;
}
footer li {
  list-style: none;
}
.footerLogo .tagLine h5 {
  color: #231f20;
  font-size: 14px;
  font-family: HelveticaNeueMedium;
  padding-top: 10px;
}
.menuList ul li {
  padding-bottom: 10px;
}
.menuList ul li a {
  color: #231f20;
  font-size: 14px;
  font-family: HelveticaNeueMedium;
}
.processList ul h5 {
  color: #231f20;
  font-size: 14px;
  font-family: HelveticaNeueMedium;
  padding-bottom: 10px;
}
.processList ul li {
  padding-bottom: 10px;
}
.processList ul li a {
  color: rgba(35, 31, 32, 0.5);
  font-size: 14px;
}
.digitalAddress h5 {
  padding-bottom: 10px;
  color: rgba(35, 31, 32, 0.5);
  font-size: 14px;
}
.digitalAddress h5 a {
  color: rgba(35, 31, 32, 0.5);
  font-size: 14px;
}
.physicalAddress h5 {
  font-size: 16px;
  color: #231f20;
  font-family: HelveticaNeueBold;
  padding-bottom: 10px;
}
.physicalAddress {
  padding-top: 15px;
}
.physicalAddress a {
  font-size: 14px;
  font-family: HelveticaNeueLight;
  color: #231f20;
}
.socialMedia {
  text-align: right;
}
.socialMedia ul li {
  padding-bottom: 10px;
}
.copyRightsBottom h5 {
  font-size: 14px;
  font-family: HelveticaNeueMedium;
  color: rgba(35, 31, 32, 0.5);
}
.ourProjectNavigation {
  display: flex;
  width: 100%;
  height: 275px;
}
.previousWork {
  width: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.nextWorkLink::after,
.previousWorkLink::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.3);
}
.previousWork:hover img.previousWorkArrow {
  opacity: 1;
  left: -20px;
}
.nextWork:hover img.nextWorkArrow {
  opacity: 1;
  right: -20px;
}
.previousWorkLink:hover:after,
.nextWorkLink:hover:after {
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.8);
}
.previousWork:hover img,
.nextWork:hover img {
  transform: scale(1.1);
}
.nextWorkText a:hover .previousWorkImgWrap {
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.8);
}
.previousWork .previousWorkText,
.nextWork .nextWorkText {
  text-decoration: none;
  font-family: HelveticaNeue;
  transition: 0.3s;
  top: 50%;
}
.previousWork .previousWorkText {
  text-align: right;
  position: absolute;
  z-index: 99;
}
.previousWork .previousWorkText span,
.nextWork .nextWorkText span {
  font-size: 14px;
  letter-spacing: -0.19px;
}
.previousWorkDescWrap p,
.nextWorkDescWrap p {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  display: contents;
}
.nextWork .nextWorkText {
  text-align: left;
  position: absolute;
  z-index: 99;
}
.nextWork {
  width: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.previousWorkImgWrap img {
  height: 275px;
  position: absolute;
  width: 50%;
  transition: all 0.3s;
  object-fit: cover;
  display: block;
  width: 100%;
  transform: scale(1);
}
.nextWorkImgWrap img {
  height: 275px;
  position: absolute;
  width: 50%;
  transition: all 0.3s;
  object-fit: cover;
  display: block;
  width: 100%;
  transform: scale(1);
}
.PreviousWorkText,
.nextWorkText {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}
.previousWorkText {
  right: 18%;
  padding-left: 40px;
}
.nextWorkText {
  left: 18%;
  padding-right: 40px;
}
.nextWorkArrow {
  opacity: 0;
  top: 0;
  position: relative;
  right: 20px;
  transition: 0.5s;
}
.previousWorkArrow {
  opacity: 0;
  top: 0;
  position: relative;
  left: 20px;
  transition: 0.5s;
}
.previousWorkLink,
.nextWorkLink {
  color: #fff;
}
.previousWorkLink:hover,
.nextWorkLink:hover {
  color: #fff;
}
.project-gallery {
  padding: 80px 0;
  text-align: center;
}
.project-gallery .container a img {
  margin-top: 20px;
}
@media (max-width: 991px) and (min-width: 768px) {
  .whatWeDoTab .tabcontent {
    max-width: calc(100% - 250px);
    padding: 0 60px;
  }
  .whatWeDoTab .tab {
    max-width: 250px;
  }
  .ourWorkListWrap img {
    object-fit: cover;
  }
  .ourClientsWrap .sectionTitle:after {
    left: -17px;
  }
  .footerLogo img {
    width: 100%;
  }
  .servicesListImage img {
    width: 100%;
  }
  .tabContentInner ul li {
    float: none;
    width: 100%;
  }
  .whoWeAreContentPara {
    width: 100%;
  }
  .whoWeAreStataticsList {
    border: 0;
  }
  .whoWeAreGalleryContent {
    width: 100%;
  }
  .contactUsWrapFormDetails .virtualAddress a {
    font-size: 12px;
  }
  .contactUsWrapFormDetails h4 {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .currentOpenninglistWrap {
    display: grid;
  }
  .currentOpenningList {
    width: 100%;
    margin-bottom: 20px;
  }
  .whatWeDoTab .tabcontent {
    display: block;
    max-width: 100%;
    padding: 0;
  }
  .tabContentInner ul li {
    float: none;
    width: 100%;
  }
  .ourWorkList .mobileShopping .mobileShoppingImage img {
    left: 0;
  }
  .mobileShoppingContent h1 {
    font-size: 30px;
    line-height: 38px;
    padding-left: 20px;
    padding-top: 20px;
  }
  .ourWorkListWrapRow .col-md-6:last-child {
    padding-left: 15px;
  }
  section.versionAppDesign {
    background-image: none;
  }
  .versionAppDesignContent h1 {
    font-size: 40px;
    line-height: 46px;
  }
  .ourClientsWrap .sectionTitle:after {
    left: 0;
    display: none;
  }
  .ourClientsHeader {
    width: 100%;
  }
  .ourClientListView img {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 40px;
    object-fit: none;
  }
  .menuList {
    padding-top: 20px;
  }
  .ourWorkListWrapRow .col-md-6:first-child {
    padding-right: 15px;
  }
  .previousWorkImgWrap img {
    position: initial;
    height: auto;
  }
  .previousWork {
    width: 100%;
  }
  .nextWorkImgWrap img {
    position: initial;
    height: auto;
  }
  .nextWork {
    width: 100%;
  }
  .ourProjectNavigation {
    display: block;
    height: auto;
  }
  .socialMedia {
    text-align: left;
    margin: 15px 0;
  }
  .servicesListImage img {
    width: 100%;
  }
  .servicesListDesc {
    padding-top: 10px;
  }
  .servicesListDesc h3 {
    line-height: 40px;
    padding-bottom: 10px;
  }
  .whoWeAreBannerTitle h1 {
    font-size: 40px;
  }
  .whoWeAreBannerContent {
    background-size: cover;
    background-position: left;
  }
  .whoWeAreContentPara {
    width: 100%;
  }
  .whoWeAreStatatics {
    display: block;
    width: 100%;
    padding-top: 40px;
  }
  .whoWeAreStataticsList {
    width: auto;
    border-right: 0;
    text-align: center;
  }
  .whoWeAreGalleryContent {
    width: 100%;
  }
  .contactUsWrapForm {
    width: 100%;
  }
  .fileUploadIcon {
    width: 100%;
    text-align: right;
  }
  .contactUsWrapFormDetails {
    margin-top: 40px;
  }
  .headerSection .row .col-md-6 {
    width: 50%;
  }
  .openNavMobile {
    width: 100% !important;
    overflow-y: auto;
  }
  .overlay .closebtn {
    right: 20px;
  }
  .ourWorkGifEcommerce img {
    transform: rotate(0);
    width: 100%;
  }
  .ourClientListView {
    padding: 0;
  }
  .copyRights {
    position: relative;
    padding-top: 20px;
  }
  .overlay-content {
    left: 20px;
  }
  .overlay-addressContent {
    width: 100%;
  }
  .overlay-addressContent-OneContent {
    padding: 0;
  }
  .overlay-addressContent-One {
    display: block;
    padding-right: 30px;
  }
}
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
