.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding: 6rem; */
  /* min-height: 100vh; */

  
}
.overlay {
  height: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
width:360px;
  background-color: rgba(38,38,38,1);
  overflow: hidden;
  transition: .5s;


}
.homeHeader {
  position: relative;
}
.homeHeaderContent {
  position: absolute;
  top: 40%;
  /* width: 100%; */
  z-index: 9;
padding-left: 8%;
}
.serviceHeaderContent {
  position: absolute;
  top: 10%;
  width: 100%;
  z-index: 9;
padding-left: 8%;
}
/* .homeHeaderContentInner {
  max-width: 430px;
  margin-top: 10%;
  
 
} */

.whatWeDo {
  padding-top: 80px;
}
.sectionTitle {
  position: relative;
}
.sectionTitle h1 {
  font-family: HelveticaNeueBold;
  font-size: 60px;
  font-weight: 600;
}

.whatWeDoTab {
  display: inline-block;
  width: 100%;
  padding-top: 80px;
}
.whatWeDoTabTab {
  float: left;
  max-width: 300px;
}
.whatWeDoTabTab button.active {
  background-color: rgba(255,216,0,1);
  box-shadow: 0 5px 21px -3px rgb(255 216 0 / 50%);
  border: solid 1px rgba(255,216,0,1);
}
.whatWeDoTabTab button {
  font-family: HelveticaNeueMedium;
  display: block;
  /* background-color: inherit; */
  color: #000;
  padding: 20px 40px;
  width: 100%;
 
  outline: 0;
  text-align: left;
  cursor: pointer;
  transition: .3s;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 30px;
  border-radius: 10px;
  
}
.whatWeDoTabContent {
  float: left;
  padding: 0 110px;
  max-width: calc(100% - 300px);
  border-left: 0;
}
.tabContentInner p {
  color: #555;
  font-size: 20px;
  line-height: 32px;
  font-family: HelveticaNeueLight;
}

.tabContentInner ul {
  display: inline-block;
  width: 100%;
  padding-left: 30px;
  padding-top: 20px;
}
.tabContentInner ul li {
  float: left;
  width: 50%;
  padding-bottom: 18px;
  font-family: HelveticaNeueMedium;
  padding-left: 15px;
}
.whatWeDoContainer {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 100px;
  margin-left: 100px;
}
.headerSectionRowColMd6 {
  width: 100%;
 
}
.homeHeaderContentInnerBox {
  content: "";
  left: 0;
  width: 160px;
  height: 2px;
bottom: -3px;
  position: absolute;
  background-color: #ffd800;
}
.bgImageForServices{
  background-image: url('https://studiodiseno.com/images/services/servicesBG.png');
        width: 100%;
    height: 100%;
    object-fit:fill ;
    background-size: auto;
    min-height: 100vh;
}
.bgImageForStartUp{
  background-image: url('https://studiodiseno.com/images/startup/startupbg.png');
        width: 100%;
    height: 100%;
    object-fit:fill ;
    background-size: auto;
    min-height: 100vh;
}
.bgImageForCareers{
  background-image: url('https://studiodiseno.com/images/services/servicesBG.png');
        width: 100%;
    height: 100%;
    object-fit:fill ;
    background-size: auto;
    min-height: 100vh;
}
.contactUsWrap {
  padding-top: 100px;
  padding-bottom: 50px;
}
.contactUsWrapForm {
  padding-top: 50px;
}
.contactUsWrapForm h3 {
  position: relative;
  color: #231f20;
  font-size: 36px;
  font-family: HelveticaNeueBold;
  line-height: 35px;
  padding-bottom: 35px;
}
.contactUsWrapForm h3::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #ffd800;
}
.contactUsWrapForm h5 {
  color: #555;
  font-size: 18px;
  line-height: 33px;
  font-family: HelveticaNeueMedium;
  padding-top: 10px;
}

.contactUsWrapForm p {
  font-size: 20px;
  color: #555;
  font-family: HelveticaNeueMedium;
}

.homeHeaderContentInner p {
  color: #fff;
  font-family: HelveticaNeueMedium;
  font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
   margin-top: 10px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  max-width: 540px;
}
.headersBG {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  column-gap: 300;
  -webkit-box-align: space-between;
  padding-left: 80px;
  padding-right: 80px;
}
.headerNormal {

  display: flex;
  flex-direction: row;
  column-gap: 300;
  -webkit-box-align: space-between;
  padding-left: 80px;
  padding-right: 80px;
}
.headersBGImg {
  width: 40px;
}
.tabActive {
  background-color: rgba(255,216,0,1);
  box-shadow: 0 5px 21px -3px rgb(255 216 0 / 50%);
  border: solid 1px rgba(255,216,0,1);
}
.tabUnActive {
  background-color: transparent;
  border: solid 1px #979797;
    outline: 0;
}
.homeContentInner p {
  color: #fff;
  font-family: HelveticaNeueMedium ;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
   margin-top: 10px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  max-width: 540px;
  font-size: 16px !important;
}
.homeHeaderContentInner h1:after {
  content: "";
  bottom: -3px;
  left: 0;
  width: 100px;
  height: 2px;
  position: absolute;
  background-color: #ffd800;
}
.serviceHeaderContentInner h1:after {
  content: "";
  bottom: -3px;
  left: 0;
  width: 100px;
  height: 2px;
  position: absolute;
  background-color: #ffd800;
}
.homeContentInner h1:after {
  content: "";
  bottom: -3px;
  left: 0;
  width: 160px;
  height: 2px;
  position: absolute;
  background-color: #ffd800;
}
.whoWeAreBannerContent {
  display: flex;
  object-fit:contain ;
  background-image: url(../../assets/images/whoWeAre/whoWeAreBanner.png);
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: right;
  height: 100%;
  min-height: 70vh;
  padding-top: 60px;
}
.whoWeAreContainer {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  
}
.whoWeAreContentPara {
  width: 60%;
  margin: 0 auto;
}

.whoWeAreStatatics {
  display: flex;
  padding-top: 80px;
width: 80%;
  margin: 0 ;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}
.whoWeAreStataticsList h1 {
  color: #231f20;
  font-size: 65px;
  font-family: HelveticaNeueBold;
padding-left:50px;
padding-right:50px;
margin: 0;
}
.whoWeAreGallery {
  padding-top: 60px;
}
.whoWeAreGalleryImageImg {
  width: 380px;
  height: 420px;
  margin: 0 30px;
  object-fit: contain;
}
.whoWeAreGalleryImage {
  white-space: nowrap;
  overflow-x: scroll;
  cursor: grabbing;
  padding-bottom: 30px;
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  
scrollbar-color: #ffd800;
}

.whoWeAreGalleryContent {
  width: 60%;
  margin: 0 auto;
}
.whoWeAreGalleryContent h3 {
  color: #000;
  font-size: 43px;
  font-family: HelveticaNeueLight;
  line-height: 53px;
  text-align: center;
  display: block;
font-weight: lighter;
  
}
.whoWeAreStataticsList p {
  color: #231f20;
  font-size: 22px;
  padding-left:50px;
  padding-right:50px;
  margin: 0;
}
.whoWeAreStataticsList {
  margin: 0 30;
  width: 250px;
  border-right: 1px solid #979797;
align-content: center;
}
.whoWeAreContent {
  padding: 60px 0;
}
.whoWeAreContentP {
  font-size: 24px;
  color: #505050;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
.whoWeAreContentContainer {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.whoWeAreBanner {
  height: 90vh;
  padding-top: 120px;
  padding-left: 100px;
  padding-right: 100px;
}
.whoWeAreBannerTitleH1 {
  font-size: 75px;
  font-family: HelveticaNeueBold;
}
.homeHeaderContentHome {
  max-width: 520px !important;
}
.workWrapListWrapH5{
  padding-top: 15px;
  font-size: 18px;
  color: #404040;
  font-family: HelveticaNeueMedium;
  margin:0;
}
.versionAppDesign {
  padding: 80px 0;
  background-color: #eee;
  background-image: url(../../assets/images/versionAppDesign.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  min-height: 100vh;
}
.appVersionContainer {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.versionAppDesignContentH1 {
  color: #000;
  font-size: 72px;
  font-family: HelveticaNeueLight;
  line-height: 71px;
  font-weight: lighter;
  display: flex;
  flex-wrap: wrap;
  max-width: 66.666667%;
  flex: 0 0 66.666667%;
 padding-left: 100px;
 padding-right: 100px;
  margin: 0;
}

.versionAppDesignContentP {
  padding: 30px 0;
  font-size: 20px;
  font-weight: lighter;
  color: #000;
  font-family: HelveticaNeueLight;
  display: flex;
  flex-wrap: wrap;
  max-width: 66.666667%;
  flex: 0 0 66.666667%;
  padding-left: 100px;
  padding-right: 100px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 50px;
  margin:0
}

.exploreMoreBlack {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
}
.exploreMoreBlack a {
  border-color: #231f20 !important;
}

.exploreMoreanchore a {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
 
}
.exploreMoreanchore a {
  color: #231f20;
  display: inline-block;
  padding: 13px 45px;
  border: 1px solid #ffd200;
  border-radius: 24px;
  padding-left: 24px;
  transition: all ease 0.8s;
  overflow: hidden;
}
.exploreMoreanchore a::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 24px;
  background-color: #ffd200;
  transform-origin: left;
  transition: width 0.25s ease;
  z-index: -1;
}
.exploreMoreanchore a:hover::after {
  width: 100%;
}
.exploreMoreanchore a:before {
  content: "";
  width: 45px;
  height: 20px;
  background-image: url(../../assets/images/arrow-right-line.svg);
  position: absolute;
  right: -3px;
  background-repeat: no-repeat;
  top: 13px;
}
.workWrapListWrapH4 {
  margin: 0;
  font-size: 24px;
  line-height: 33px;
  color: #404040;
  font-family: HelveticaNeueBold;
}
.servicesList {
  padding: 80px 0;
}
.servicesListImage  {
  width: 100%;
}
.servicesListDesc {
  font-size: 30px;
  line-height: 54px;
  font-family: HelveticaNeueLight;
  color: #000;
}
.servicesListDesc h3 {
  font-size: 30px;
  line-height: 54px;
  font-family: HelveticaNeueLight;
  color: #000;
  font-weight: lighter;
  margin:0;
}
.colMd6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.headerSectionRowColMd6 {
  width: 100%;
  padding: 20px;

}

.workWrapListWrap {
  padding-bottom: 50px;
}
.workWrap {
  padding: 80px 0;
}
.workWrapListWrapImage{
  width: 50%;
  height: 450px;
  object-fit: cover;
  padding-bottom: 20px;
}

.tabContentInner p {
  color: #555;
  font-size: 20px;
  line-height: 32px;
  font-family: HelveticaNeueLight;
  margin: 0;
}
.tabContentInner ul {
  display: inline-block;
  width: 100%;
  padding-left: 30px;
  padding-top: 20px;
}

.tabContentInner ul li {
  padding-bottom: 18px;
  font-family: HelveticaNeueMedium;
  padding-left: 15px;
  font-size: 1rem;
  font-weight: 400;
    line-height: 1.5;
    color: #212529;

}
.productIdeationContentInner ul li {
  float: left;
  width: 100%;
  padding-bottom: 18px;
  font-family: HelveticaNeueMedium;
  padding-left: 15px;
  font-size: 15px;

}
.tabContentInnerBlock li {
  float: none !important;
}
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.ourClientsHeader {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}
.ourClientsWrap {
  padding: 60px 0;
}
.sectionTitle:after {
  content: "";
  width: 44px;
  height: 4px;
  position: absolute;
  left: 180px !important;
  top: 45px;
  background-color: #ffd800;
}

.ourClientsDescription {
  padding-top: 20px;
  
}
.ourClientsWrap {
  padding: 60px 0;
}
.sectionTitle h1 {
  font-family: HelveticaNeueBold;
  font-size: 60px;
  font-weight: 600;
}
.ourClientsDescription p {
 
  text-align: center;
  margin: 0 auto;
  
}
.ourClientsWrap .sectionTitle:after {
  left: 35%;
}
.ourClientList{
  box-sizing: border-box;
  text-align: center;
}
.ourClientList img {
  width: 100%;
}
.ourClientListView {
  padding: 50px 0;
  margin: 0 100px;
}
.ourClientListViewBox {
  display: flex;
  align-items: center;

}
.ourClientListViewImg {
  width: 90%;
  object-fit: scale-down;
}
.ourClientListViewunique {
  padding: 20px 0;
}
.footerContainer {
  width: 100%;
  padding-right: 15px ;
  padding-left: 15px ;
  margin-right: auto ;
  margin-left: auto;

 

}
.rowWork {
 
  display: flex;
  
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  flex-direction: 'row';
}
.colMd3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.whatWeDo {
  padding-top: 80px;
}
.sectionTitle {
  position: relative;
  
  text-align: center;
}
.pageSectionTitle {
  position: relative;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}
.pageSectionTitle h1{
  font-family: HelveticaNeueBold;
  font-size: 60px;
  font-weight: 600;
  margin: 0;
  line-height: 1.2;
  text-align: left;
}
.sectionTitle h1 {
  font-family: HelveticaNeueBold;
  font-size: 60px;
  font-weight: 600;
  margin: 0;
}

.pageSectionTitle:after {
  content: "";
  width: 44px;
  height: 4px;
  position: absolute;
  left: -70px;
  top: 37px;
  background-color: #ffd800;
}
.footer {
  background-color: #eee;
  padding: 50px 100px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.footer li {
  list-style: none;
}
.footerLogoImg {
  vertical-align: middle;
  border-style: none;
}

/* .digitalAddress h5 {
  padding-bottom: 10px;
  color: rgba(35, 31, 32, 0.5);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: left;
} */
.digitalAddress {
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  line-height: 1.5;
}
.digitalAddress h5 {
  padding-bottom: 10px;
  color: rgba(35,31,32,0.5);
  font-size: 14px;
  margin: 0px;
  font-weight: 500;
  line-height: 1.2;
  

}
.digitalAddress h5 a {
  color: rgba(35, 31, 32, 0.5);
  font-size: 14px;
  /* margin-bottom: 5px; */
}
.physicalAddress h5 {
  font-size: 16px;
  color: #231f20;
  font-family: HelveticaNeueBold;
  padding-bottom: 10px;
  margin: 0px;
}

.physicalAddress h6 {
  text-transform: uppercase;
  padding-bottom: 5px;
  font-size: 14px;
  margin: 0;
  font-weight: 500;
    line-height: 1.2;
}

.physicalAddress a {
  font-size: 14px;
  font-family: HelveticaNeueLight;
  color: #231f20;
}
.physicalAddress{
  padding-top: 15px;
}
.colMd2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
  padding: 10px;

}
.socialMedia {
  text-align: right;
}
.homeHeader {
  position: relative;
}

.homeHeaderServicesImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.copyRightsBottom h5 {
  font-size: 14px;
  font-family: HelveticaNeueMedium;
  color: rgba(35, 31, 32, 0.5);
  font-weight: 500;
    line-height: 1.2;
    text-align: left;
}
.ourProjectNavigation {
  display: flex;
  width: 100%;
  height: 275px;
}


.tagLineH5 {
  color: #231f20;
  font-size: 14px;
  font-family: HelveticaNeueMedium;
  margin: 0;
font-weight: 500;
  text-align: left;
  padding-top: 10px;
}
.footerLogo  {
  color: #231f20;
  font-size: 14px;
  font-family: HelveticaNeueMedium;
  padding-top: 10px;
}



.menuList{
  font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    
 
}
.menuList ul li {
  padding-bottom: 10px;
}
.menuList ul li a {
  
  color: #231f20;
  font-size: 14px;

  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;

  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.colMd4 {
  /* position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
 
  flex: 0 0 33.333333%;
  max-width: 33.333333%;

  text-align: left; */
  padding-top: 15px;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.whatWeDoTab {
  display: inline-block;
  width: 100%;
  padding-top: 80px;
}
.whatWeDoTab .tab {
  float: left;
  max-width: 300px;
}
.whatWeDoTab .tab button {
  font-family: HelveticaNeueMedium;
  display: block;
  background-color: inherit;
  color: #000;
  padding: 20px 40px;
  width: 100%;
  border: solid 1px #979797;
  outline: 0;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 30px;
  border-radius: 10px;
}
.whatWeDoTab .tab button:hover {
  background-color: rgba(255, 216, 0, 1);
  border: solid 1px rgba(255, 216, 0, 1);
}
.whatWeDoTab .tab button.active {
  background-color: rgba(255, 216, 0, 1);
  box-shadow: 0 5px 21px -3px rgba(255, 216, 0, 0.5);
  border: solid 1px rgba(255, 216, 0, 1);
}
.whatWeDoTab .tabcontent {
  float: left;
  padding: 0 110px;
  max-width: calc(100% - 300px);
  border-left: 0;
}
/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
.flexRow{
  justify-content: space-between;
  flex-direction: row;
}

.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.row {
  /* display: -ms-flexbox; */
  display: flex;
  /* -ms-flex-wrap: wrap; */
  /* flex-wrap: wrap; */
  margin-right: -15px;
  margin-left: -15px;
  flex-direction: row;
}

.footerRow{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
   
    color: #212529;
    text-align: left;

}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.headerSectionHamBurger {
  text-align: right;
}
.rowWork {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.header {

  position: fixed;
  width: 100%;
  z-index: 99;
  transition: width 2s ease;
  top: 0;
}
.sectionTitle {
  font-size: 60px;
  font-weight: 600;
}

.ourClientContainer {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}
.bgImage{
  background-image: url('https://studiodiseno.com/images/homeBackground.jpg') ;
        width: 100%;
    height: 100%;
    object-fit:fill ;
    background-size: auto;
    min-height: 100vh;
  filter:brightness(75%)
   
}

.bgContactUs{

        width: 100%;
    height: 100%;
    object-fit:fill ;
    background-size: auto;
    min-height: 100vh;
 
}
.description {
  display: inherit;
  justify-content: space-between;
  align-items: row;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.overlayContent {
  position: relative;
  top: 10%;
  left: 70px;
  width: 100%;
  height: calc(100% - 10%);

}
.closebtn {
  font-size: 40px;
  top: 15px;
  right: 15px;
  text-align: right;
  position: absolute;

}
.overlayA {
  font-size: 20px;
  font-weight: 400;
  font-family: HelveticaNeueBold;

}
.overlayActive {
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline !important;

  /* margin-bottom: 5px; */
  /* border-bottom-style: solid; */
  /* border-bottom-width: 1px; */
  width: fit-content;
  font-family: HelveticaNeueBold;

}

.overlayAactive:before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 5px;
}
.copyRights {
  padding-top: 40px;
  bottom: 30px;
  font-size: 14px;
  line-height: 18px;
  font-family: HelveticaNeueLight;
  color: #fff;
  font-weight: 300;
  text-align: left;
}
.overlay a {
  
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  display: table;
  transition: .3s;
  line-height: 44px;
  font-family: HelveticaNeueBold;
  margin: 0;
}
.overlayAddressContent {
  width: calc(100% - 100px);
  padding: 30px 0;
  /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  color: #212529;
  text-align: left; */

}

.overlayAddressContentOne {
  display: block;
  padding-right: 30px;
}
.overlayAddressContentOneContent {
  padding: 0;
}
.overlayAddressContentOneContent h6{
  color: #fff;
  font-size: 14px;
  padding-bottom: 8px;
  text-transform: uppercase;
  margin: 0;

}
.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.overlayAddressContent p {
  font-size: 14px;
  line-height: 18px;
  font-family: HelveticaNeueLight;
  color: #fff;
  font-weight: 300;
  text-align: left;
  margin: 0;
  
}

.overlayAddressContent a {
  /* font-size: 14px; */
  line-height: 18px;
  font-family: HelveticaNeueLight;
  color: #fff;
  font-weight: 300;
  text-align: left;
  display: table;
  transition: .3s;
  
}
.overlayAddressContent h6 {
  color: #fff;
  font-size: 14px;
  padding-bottom: 8px;
  text-transform: uppercase;
  text-align: left;
  

}
.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(33%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}
.homeHeader {
  content: "";
  width: 100%;
  height: 100%;
  color: #212529;
  top: 0;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
}
.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 34ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}
.homeHeaderContentInner  {
  height: 50;
  width: 50;
  position: relative;
  font-size: 36;
  color: #fff;
  font-family: HelveticaNeueBold;
  line-height: 42px;
  padding-bottom: 10px;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 10%;
}
.homeContentInner  {
  height: 50;
  width: 50;
  position: relative;
  font-size: 36;
  color: #fff;
  font-family: HelveticaNeueBold;
  line-height: 42px;
  padding-bottom: 10px;
  display: inline-block;
 
}

.homeContentInner h1 {
  position: relative;
  font-size: 36px;
  color: #fff;
  font-family: HelveticaNeueBold;
  line-height: 42px;
 
  padding-right: 10px;
  display: inline-block;
  line-height: 1.5;
     font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  
}
.homeHeaderContentInner h1 {
  position: relative;
  font-size: 36px;
  color: #fff;
  font-family: HelveticaNeueBold;
  line-height: 42px;
 
  padding-right: 10px;
  display: inline-block;
  line-height: 1.5;
     font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  
}

.serviceHeaderContentInner h1 {
  position: relative;
  font-size: 36px;
  color: #fff;
  font-family: HelveticaNeueBold;
  line-height: 42px;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-right: 10px;
  display: inline-block;
  line-height: 1.5;
     font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  
}
.contactUsRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  padding-left:8%
}
.contactUsWrapForm h3 {
  position: relative;
  color: #231f20;
  font-size: 36px;
  font-family: HelveticaNeueBold;
  line-height: 35px;
  padding-bottom: 35px;
  top:15%
  
}

.spanInfo {
  color: red;
  margin: 10px;
}
.formTitleH4 {
  color: #231f20;
  opacity: 0.5;
  font-size: 18px;
  font-family: HelveticaNeueMedium;
}
.groupTitle {
  display: flex;
  align-items: center;
}
.checkboxGroup {
  padding: 30px 0;
}
.contactUsWrapForm p {
  font-size: 20px;
  color: #555;
  font-family: HelveticaNeueMedium;
  margin-top: 10px;
}
.chip {
  /* display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  border-color: #000;
  border-width: 15px;
  
  background-color: #f1f1f1d8; */


  color: #231f20;
  font-size: 14px;
  font-family: HelveticaNeueMedium;
  border: 1px solid #d5d5d5;
  border-radius: 24px;
  padding: 10px 16px;
  cursor: pointer;
  margin-right: 10px;
  transition: .5s;
}

.chip:hover {
  background-color: #ffd200;
  transition: 0.5s;
  border-color: #ffd200;
}
.contactUsWrapForm h3::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #ffd800;
}
.contactUsWrapForm h5 {
  color: #555;
  font-size: 18px;
  line-height: 33px;
  font-family: HelveticaNeueMedium;
  padding-top: 50px;
  margin-bottom: 10px;
}
.currentOpenning {
  padding: 50px 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.currentOpenningContainer {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.currentOpenninglistWrap {
  display: flex;
  padding: 20px 0;
}

.currentOpenningList {
  width: 50%;
  background-color: #efefef;
  position: relative;
  cursor: pointer;
  margin-right: 20px;
  padding: 20px;
}
.line {
  width: 65px;
  height: 2px;
  background-color: #c6d4d8;
  position: absolute;
}
.width {
  height: 3px;
  width: 0;
  position: absolute;
  background-color: #ffd800;
  bottom: 0;
  left: 0;
  transition: width .5s;
}
.currentOpenningList h5 {
  font-family: HelveticaNeueBold;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  padding-bottom: 20px;
  color: #000;
}
.currentOpenningWrap h2 {
  font-family: HelveticaNeueMedium;
}
.apply {
  padding-top: 25px;
}
.apply h4 {
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
}
.homeHeaderContentInner p {
    color: #fff;
    font-family: HelveticaNeueMedium;
   
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}
.serviceHeaderContentInner p {
  color: #fff;
  font-family: HelveticaNeueMedium;
 
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  font-size: 16px;
  margin:0
 
}
.serviceHeaderContentInner  {
  max-width: 430px;
 
}


.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo,
.thirteen {
  position: relative;
}

.thirteen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  padding: 25px 10px;
  margin-left: 16px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0px 2px 8px -1px #0000001a;
}

.thirteen::before,
.thirteen::after {
  content: '';
  position: absolute;
  z-index: -1;
}

/* Conic Gradient Animation */
.thirteen::before {
  animation: 6s rotate linear infinite;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
}

/* Inner Square */
.thirteen::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(
    to bottom right,
    rgba(var(--tile-start-rgb), 1),
    rgba(var(--tile-end-rgb), 1)
  );
  background-clip: content-box;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile and Tablet */
@media (max-width: 1023px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

